<html>
<head>
	<title>编辑</title>
	<!--<link rel="stylesheet" href="__PUBLIC__/Css/index.css" />-->
</head>
<body>
<h1>修改</h1>
<volist name="editNote" id="item">

	<div id='send-form'>
		<form method="post" action="__URL__/updateNote" name='fmNote'>
			<p>
				<input type="hidden" name="id" value="{$item.id}" />
				<label for="username">昵称：</label>
				<input type="text" name='username' id='username' value="{$item.username}"/>
			</p>
			<p>
				<label for="content">内容：(您还可以输入&nbsp;<span id='font-num'>50</span>&nbsp;个字)</label> 
				<br />
				<textarea style="height:100px; width:370px;" name="content" id='content'>{$item.content}</textarea> 
				<div id='phiz'>
					<img src="__PUBLIC__/Images/phiz/zhuakuang.gif" alt="抓狂" />
					<img src="__PUBLIC__/Images/phiz/baobao.gif" alt="抱抱" />
					<img src="__PUBLIC__/Images/phiz/haixiu.gif" alt="害羞" />
					<img src="__PUBLIC__/Images/phiz/ku.gif" alt="酷" />
					<img src="__PUBLIC__/Images/phiz/xixi.gif" alt="嘻嘻" />
					<img src="__PUBLIC__/Images/phiz/taikaixin.gif" alt="太开心" />
					<img src="__PUBLIC__/Images/phiz/touxiao.gif" alt="偷笑" />
					<img src="__PUBLIC__/Images/phiz/qian.gif" alt="钱" />
					<img src="__PUBLIC__/Images/phiz/huaxin.gif" alt="花心" />
					<img src="__PUBLIC__/Images/phiz/jiyan.gif" alt="挤眼" />
				</div>
			</p>
			<!--<span id='send-btn'></span>-->
			<input class="send-btn1" type="submit" id="btnSubmit" value="修改" />

		</form>
	</div>
</volist>

</body>
</html>